<Arguments guiclass="ArgumentsPanel" testclass="Arguments" testname="{{element.name}}" enabled="{{element.is_enable}}">
    <collectionProp name="Arguments.arguments"/>
    <stringProp name="TestPlan.comments">{{element.comments}}</stringProp>
</Arguments>